<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ExpressEx1</title>
  <h1>ExpressEx1</h1>
</head>

<body>
  <header style="margin: 10px">
    <nav>
      <a href="/">홈</a> |
      <% if (user_name) { %>
        <a href="/profile">프로필</a> |

        <a href="/logout">로그아웃</a> | <% if (is_admin==1) { %>admin <% } %>
            <span style="font-weight: bold;">
              <%= user_name %>
            </span>
            <% } else { %>
              <a href="/login">로그인</a> |
              <a href="/register">회원가입</a>

              <% } %>
                <hr />
    </nav>
  </header>